<table>
  <thead>
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Numero de Identidad</th>
      <th>Cargo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="table-avatar">
          <slf-ui-avatar Text="NC" Size="xs" BackgroundColor="primary"></slf-ui-avatar>
        </div>

      </td>
      <td>Juan Perez</td>
      <td>juan.perezexample.com</td>
      <td>123456789</td>
      <td>Desarrollador</td>
      <td>
        <div class="table-actions">
          <a><slf-ui-icon category="layout" name="layout-alt-03" [weight]="1.5"/></a>
          <a><slf-ui-icon category="general" name="edit-05" [weight]="1.5"/></a>
          <a><slf-ui-icon category="general" name="trash-01" [weight]="1.5"/></a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="table-avatar">
          <slf-ui-avatar Text="NC" Size="xs" BackgroundColor="primary"></slf-ui-avatar>
        </div>

      </td>
      <td>Juan Perez</td>
      <td>juan.perezexample.com</td>
      <td>123456789</td>
      <td>Desarrollador</td>
      <td>
        <div class="table-actions">
          <a><slf-ui-icon category="layout" name="layout-alt-03" [weight]="1.5"/></a>
          <a><slf-ui-icon category="general" name="edit-05" [weight]="1.5"/></a>
          <a><slf-ui-icon category="general" name="trash-01" [weight]="1.5"/></a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="table-avatar">
          <slf-ui-avatar Text="NC" Size="xs" BackgroundColor="primary"></slf-ui-avatar>
        </div>

      </td>
      <td>Juan Perez</td>
      <td>juan.perezexample.com</td>
      <td>123456789</td>
      <td>Desarrollador</td>
      <td>
        <div class="table-actions">
          <a><slf-ui-icon category="layout" name="layout-alt-03" [weight]="1.5"/></a>
          <a><slf-ui-icon category="general" name="edit-05" [weight]="1.5"/></a>
          <a><slf-ui-icon category="general" name="trash-01" [weight]="1.5"/></a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="table-avatar">
          <slf-ui-avatar Text="NC" Size="xs" BackgroundColor="primary"></slf-ui-avatar>
        </div>

      </td>
      <td>Juan Perez</td>
      <td>juan.perezexample.com</td>
      <td>123456789</td>
      <td>Desarrollador</td>
      <td>
        <div class="table-actions">
          <a><slf-ui-icon category="layout" name="layout-alt-03" [weight]="1.5"/></a>
          <a><slf-ui-icon category="general" name="edit-05" [weight]="1.5"/></a>
          <a><slf-ui-icon category="general" name="trash-01" [weight]="1.5"/></a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="table-avatar">
          <slf-ui-avatar Text="NC" Size="xs" BackgroundColor="primary"></slf-ui-avatar>
        </div>

      </td>
      <td>Juan Perez</td>
      <td>juan.perezexample.com</td>
      <td>123456789</td>
      <td>Desarrollador</td>
      <td>
        <div class="table-actions">
          <a><slf-ui-icon category="layout" name="layout-alt-03" [weight]="1.5"/></a>
          <a><slf-ui-icon category="general" name="edit-05" [weight]="1.5"/></a>
          <a><slf-ui-icon category="general" name="trash-01" [weight]="1.5"/></a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="table-avatar">
          <slf-ui-avatar Text="NC" Size="xs" BackgroundColor="primary"></slf-ui-avatar>
        </div>

      </td>
      <td>Juan Perez</td>
      <td>juan.perezexample.com</td>
      <td>123456789</td>
      <td>Desarrollador</td>
      <td>
        <div class="table-actions">
          <a><slf-ui-icon category="layout" name="layout-alt-03" [weight]="1.5"/></a>
          <a><slf-ui-icon category="general" name="edit-05" [weight]="1.5"/></a>
          <a><slf-ui-icon category="general" name="trash-01" [weight]="1.5"/></a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="table-avatar">
          <slf-ui-avatar Text="NC" Size="xs" BackgroundColor="primary"></slf-ui-avatar>
        </div>

      </td>
      <td>Juan Perez</td>
      <td>juan.perezexample.com</td>
      <td>123456789</td>
      <td>Desarrollador</td>
      <td>
        <div class="table-actions">
          <a><slf-ui-icon category="layout" name="layout-alt-03" [weight]="1.5"/></a>
          <a><slf-ui-icon category="general" name="edit-05" [weight]="1.5"/></a>
          <a><slf-ui-icon category="general" name="trash-01" [weight]="1.5"/></a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="table-avatar">
          <slf-ui-avatar Text="NC" Size="xs" BackgroundColor="primary"></slf-ui-avatar>
        </div>

      </td>
      <td>Juan Perez</td>
      <td>juan.perezexample.com</td>
      <td>123456789</td>
      <td>Desarrollador</td>
      <td>
        <div class="table-actions">
          <a><slf-ui-icon category="layout" name="layout-alt-03" [weight]="1.5"/></a>
          <a><slf-ui-icon category="general" name="edit-05" [weight]="1.5"/></a>
          <a><slf-ui-icon category="general" name="trash-01" [weight]="1.5"/></a>
        </div>
      </td>
    </tr>

  </tbody>
</table>
