<div class="login_main-container">
  <div class="login-form_container">
    <div class="login-title">
      <img [ngSrc]="logoUrl" alt="Isotipo de Slyfox" width="31" height="35" />
      <h1>{{ 'LOGIN.TITLE' | translate }}</h1>
    </div>

    <form [formGroup]="loginForm" class="login-form" >
      <slf-ui-input
        [FormControl]="loginForm.controls['username']"
        Id="loginUsername"
        [Label]="'LOGIN.USERNAME.LABEL' | translate"
        [Placeholder]="'LOGIN.USERNAME.PLACEHOLDER' | translate"
        [Error]="getFieldError('username')"
      />

      <slf-ui-input
        [FormControl]="loginForm.controls['password']"
        Id="loginPassword"
        [Label]="'LOGIN.PASSWORD.LABEL' | translate"
        [Type]="passwordVisible ? 'text' : 'password'"
        [Placeholder]="'LOGIN.PASSWORD.PLACEHOLDER' | translate">
        @if (!passwordVisible) {
          <slf-ui-icon iconRight [category]="'general'" [name]="'eye'" (click)="togglePasswordVisibility()"></slf-ui-icon>
        } @else {
          <slf-ui-icon iconRight [category]="'general'" [name]="'eye-off'" (click)="togglePasswordVisibility()"></slf-ui-icon>
        }
      </slf-ui-input>

      <a class="login-forgot-password">
        <p>{{ 'LOGIN.FORGOT_PASSWORD.TEXT' | translate }}</p>
        <span>{{ 'LOGIN.FORGOT_PASSWORD.ACTION' | translate }}</span>
      </a>

      <slf-ui-button (Click)="login()" [Text]="'LOGIN.BUTTON' | translate" [Style]="{width: '100%'}"/>

      <a class="login-forgot-password register">
        <p>{{ 'LOGIN.REGISTER.TEXT' | translate }}</p>
        <span routerLink="/register">{{ 'LOGIN.REGISTER.ACTION' | translate }}</span>
      </a>
    </form>

  </div>
  <div class="login-media_card_container">
    <app-media-card-banner />
  </div>
</div>
