@use "tailwindcss";

@theme {
  --font-satoshi: "Satoshi";
}


* {

  --primary-color-200: #6816EE;
  --button-bg-primary-active: #6816EE;
  --button-bg-primary-hover: #5414bb;
   --sb-track-color: #FFF;
    --sb-thumb-color: var(--primary-color-200);;
    --sb-size: 22px;

    &::-webkit-scrollbar {
    width: var(--sb-size);
  }

  &::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 28px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 9999px;
    border: 8px solid #FFF;
  }

  @supports not selector(::-webkit-scrollbar) {
    & {
        scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }
}
